*,html{
 padding:0;
 margin: 0;
 box-sizing: border-box;
}

body{
    width: 100% ;
    height: 100% ;
    
    /* background: #f46b45;  
    /* background: -webkit-linear-gradient(to right, #eea849, #f46b45);  
    /* background: linear-gradient(to right, #eea849, #f46b45);  */

    background: #7F7FD5;  
background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  
background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); 



    
}


#date_selector{
    display: flex;
    justify-content: center;
    
}

.date-selector{
    padding :2px;
}

.selection_sub{
    display: flex;
    justify-content: center;
    padding: 5%;
    background-color: rgba(255, 255, 255, 0.164);
    border-radius: 18px;

}

.selection_area{
    /* border: 2px solid black; */
    margin-top: 150px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 18px;
    /* box-shadow: 10px 10px 20px 10px #e6dfdf; */
    -webkit-box-shadow: 0 0 5px rgba(102, 88, 88, 0.575);
        box-shadow: 0 0 5px rgba(153, 139, 139, 0.514);

    
}

/* input[type="date"] {
    -webkit-align-items: center;
    display: -webkit-inline-flex;
    font-family: monospace;
    overflow: hidden;
    padding: 0;
    align-items: center;
    -webkit-padding-start: 2px;
    
 } */

input[type="date"]::-webkit-datetime-edit{
    padding: .5rem;
    border-radius: 10px;
}

input[type=time]::-webkit-datetime-edit-hour-field {
    background-color: #949b9e;
    border-radius: 15%;
    padding: 19px 13px;
  }


/* ::-webkit-datetime-edit
::-webkit-datetime-edit-fields-wrapper
::-webkit-datetime-edit-text
::-webkit-datetime-edit-month-field
::-webkit-datetime-edit-day-field
::-webkit-datetime-edit-year-field
::-webkit-inner-spin-button
::-webkit-calendar-picker-indicator */

#submit-button{
    /* background-color: #4e54c8; */
    color: rgb(0, 0, 0);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}